@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: var(--color-gray-700);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--foreground);
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.page {
  display: flex;
}

.hidden {
  display: none !important;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 01rem;
}

.overlay-mobile {
  display: none;
}

aside {
  min-height: 100vh;
}

main {
  width: 100%;
}

@media (max-width: 768px) {
  .col-span-1,
  .col-span-2 {
    grid-column: 1 / -1;
  }

  aside {
    position: fixed;
  }

  .overlay-mobile {
    display: block;
  }
}
